//==========================================
// System variables
//==========================================
$default-font-family: 'Lato';
$header-height: 65px;
$sidebar-width: 250px;

//==========================================
// Project colors
//==========================================
$gray: 		#464a5a;
$gray2: 	#f0f0f0;
$gray3: 	#333333;
$gray4: 	#fefefe;
$gray5: 	#dddddd;
$gray6:		#f7f7f7;
$gray7:		#2b3643;
$gray8: 	#fbfbfe;
$gray9:		#aaaaaa;
$gray10:  #868aa8;
$gray11:  #f2f3f8;
$gray12:  #e9ebf5;
$gray13:  #575962;
$gray14:  #f4f3fb;

$blue:    #0a1967;
$blue2:   #171e67;
$blue3:   #21c5db;

$orange: 	#e0883c;
$red:		  #fe6969;

$purple1: #4b21b6;
$purple2: #2c2e3e;
$purple3: #716aca;
$purple4: #6b608c;
$purple5: #8680d0;

$green:	 	#2cc55b;
$green2: 	#50c875;

$white: 	#ffffff;
$black: 	#000000;

$background-color:      $gray11;
$primary-color:			    $purple4;
$header-color:			    $white;
$login-container-color:	$gray4;
$input-border-color:	  $gray5;
$body-color:			      $gray4;
$sidebar-color:			    $purple2;
$breadcrumb-color:		  $gray12;
$error:					        $red;
